body {
    font-family: 'Alegreya Sans', sans-serif;
}

.container {
    width: 60%;
    border: 20px solid #bdc3c7;
    padding: 20px;
    margin: auto;
}

.date {
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    color: #2C699E;
    text-transform: uppercase;
    margin-bottom: 16px;
    letter-spacing: 0.2rem;
}

.title {
    font-family: 'Cabin', sans-serif;
    font-size: 30px;
    margin-top: 0;
}

p {
    font-size: 18px;
}

p.intro {
    border-left: 5px solid #bdc3c7;
    padding: 5px;
}

hr {
    border-color: rgba(232, 232, 232, 0.41);
}